:root {
  --main-color: #0065fc;
  --secondary-color: #deebff;
  --light-grey: #f2f2f2;
  --border-grey: #d9d9d9;
  --black: #000000;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: "Raleway";
  background-color: var(--white);
  color: var(--black);
}

h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}
/* partie nav */
nav {
  width: 100%;
  height: 79px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  width: 61.09px;
  height: 19px;
  padding: 30px 50px;
  gap: 10px;
}

.nav-links {
  font-size: 16px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 68px;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
  padding: 30px 0;
  font-size: 16px;
  font-weight: 400;
}

.nav-links a:hover {
  padding-top: 28.5px;
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}
/* partie header */
/* partie titre */
header {
  max-width: 1340px;
  padding: 35px;
  margin: 0 auto;
}

h1 {
  width: 1340px;
  height: 26px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

header p {
  font-size: 16px;
  height: 19px;
  font-weight: 400;
  width: 1340px;
  margin-bottom: 25px;
  margin-top: 0;
}
/* partie form */
.search-bar {
  display: flex;
  align-items: center;
  width: 377px;
  height: 49px;
  border: 1px solid var(--light-grey);
  border-radius: 15px;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.search-icon {
  width: 50px;
  height: 49px;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-icon i {
  color: var(--black);
  font-size: 16px;
  align-items: center;
}

.search-bar input {
  flex: 1;
  height: 49px;
  padding-left: 15px;
  font-weight: 600;
  outline: none;
  border: none;
  padding: 0;
}

input::placeholder {
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
  text-align: center;
}

.search-bar button {
  display: flex;
  background-color: var(--main-color);
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  height: 49px;
  width: 132px;
  padding: 15px 16px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  align-items: center;
  border: none;
}

.search-bar button i {
  display: none;
}
/* partie filtre */
.filtres {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
}

.filtre-button h2 {
  text-align: center;
  height: 21px;
  font-size: 18px;
}

.filtre-buttons {
  display: flex;
  gap: 20px;
}

.filtre-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  height: 50px;
  font-weight: 700;
  font-size: 17px;
  padding: 4px 19px;
  border: 2px solid var(--border-grey);
  border-radius: 25px;
  background-color: var(--white);
  font-family: "Raleway";
  gap: 10px;
}

.filtre-buttons i {
  color: var(--main-color);
  margin-right: 10px;
}

.filtre-buttons button:hover {
  background-color: var(--secondary-color);
}
/* partie info-line */
.info-line {
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.info-line p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

.info-line i {
  display: flex;
  color: var(--main-color);
  font-size: 12.8px;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-grey);
  border-radius: 50%;
}
/* section */
.hebergements-et-populaires {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0;
}

.stars .fa-star {
  color: var(--main-color);
}

.stars .grey-star {
  color: var(--light-grey);
}
/* section heb */
.hebergements {
  background-color: var(--light-grey);
  flex: 2;
  width: 65%;
  border-radius: 15px;
  padding: 30px;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.hebergements h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.heb-liste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.heb-card {
  background-color: var(--white);
  height: 207.25px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding-bottom: 15px;
}

.heb-card a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.heb-card img {
  width: calc(100% - 12px);
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-width: 5px;
  margin: 6px;
}

.h-card-info {
  display: flex;
  height: 64.25px;
  width: 250.33px;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}

.h-card-info h3 {
  margin: 0;
}

.h-card-info p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  font-weight: 400;
}

.euro {
  font-weight: 700;
}

.stars {
  font-size: 12.8px;
}

.hebergements p {
  margin: 0;
}

.afficher-plus {
  font-weight: 700;
  font-size: 18px;
}
/* section pop */
.populaires {
  display: flex;
  background-color: var(--light-grey);
  flex-direction: column;
  flex: 1;
  width: 32%;
  border-radius: 15px;
  padding: 30px;
  gap: 30px;
}

.populaires h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.populaires h2 i {
  color: var(--main-color);
  font-size: 20px;
}

.pop-liste {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pop-card {
  display: flex;
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  gap: 30%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.pop-card a {
  display: flex;
  color: inherit;
  text-decoration: none;
  height: 100%;
}

.pop-card img {
  width: 123px;
  height: 146px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.p-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 246px;
}

.p-card-info h3 {
  margin: 0;
  margin-bottom: 4px;
}

.p-card-info p {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}

.p-card-info .euro {
  font-weight: 700;
}

.stars {
  margin-top: 10px;
  color: var(--main-color);
  font-size: 12.8px;
  margin-bottom: 0;
}
/* section act */
.activités {
  background-color: var(--white);
  max-width: 1340px;
  margin: 60px auto;
  padding: 0;
  box-sizing: border-box;
}

.activités h2 {
  padding-left: 30px;
  margin-bottom: 25px;
}

.act-liste {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
}

.act-card {
  height: 439px;
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 15px 0px #0000001a;
}

.act-card img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.a-card-info {
  gap: 10px;
  padding: 19px 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 59px;
  background-color: var(--white);
}

.a-card-info h3 {
  margin: 0;
}

.act-card a {
  text-decoration: none;
  color: black;
}
/* section footer */
footer {
  background-color: var(--light-grey);
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1340px;
}

.footer-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 120px;
  margin: 0;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
}

footer h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.foot-col {
  flex: 1;
  min-width: 200px;
}

.f-c-links {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: var(--black);
  line-height: 1.8;
}
/* ============================= */
/* VERSION TABLETTE (1024px) */
@media screen and (max-width: 1024px) {
  body {
    margin: 0;
  }
  /* partie nav */
  nav {
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0;
  }

  .nav-links {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0;
  }

  .nav-links a:hover {
    padding-top: 30px;
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
  }
  /* partie header */
  /* partie titre + form */
  header {
    padding: 30px 40px;
    width: 100%;
    max-width: 924px;
    margin: 0 auto;
  }

  h1,
  header p {
    width: 100%;
  }

  .search-bar {
    width: 377px;
    height: 49px;
  }
  /* partie filtre*/
  .filtres {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 0;
    margin-top: 25px;
    margin-bottom: 0;
  }
  /* partie info-line */
  .info-line {
    margin-top: 25px;
  }
  /* section */
  .hebergements-et-populaires {
    flex-direction: column;
    gap: 40px;
  }
  /* section heb */
  .hebergements {
    width: 100%;
    max-width: 924px;
    gap: 30px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    order: 1;
  }
  /* section pop */
  .populaires {
    width: 100%;
    max-width: 924px;
    padding: 40px;
    gap: 30px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    order: 2;
  }

  .pop-liste {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  .pop-card {
    flex: 1;
    overflow: hidden;
  }

  .pop-card img {
    width: 35%;
    height: 150px;
  }

  .p-card-info {
    justify-content: space-between;
    box-sizing: border-box;
  }
  /* section act */
  .activités {
    width: 100%;
    max-width: 924px;
    margin: 60px auto;
    padding: 0;
  }

  .act-liste {
    grid-template-columns: repeat(4, 1fr);
  }

  .act-card {
    height: 270px;
    overflow: hidden;
  }

  .act-card img {
    width: 100%;
    height: 200px;
  }

  .a-card-info {
    height: auto;
    padding: 15px 20px;
  }
  /* section footer */
  footer {
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    max-width: 924px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .footer-list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
/* ============================= */
/* VERSION MOBILE (375px) */
@media screen and (max-width: 375px) {
  body {
    margin: 0;
  }

  h2 {
    font-size: 22px;
  }
  /* partie nav */
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px 0 0 0;
  }

  .nav-logo img {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 61.09px;
    height: 19px;
    margin-bottom: 20px;
  }

  .nav-links {
    width: 100%;
    justify-content: space-around;
    gap: 0;
    padding: 0;
  }

  .nav-links li {
    flex: 1;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--light-grey);
  }

  .nav-links a {
    border-top: none;
    text-decoration: none;
    color: var(--black);
  }

  .nav-links a:hover {
    border-top: none;
  }

  .nav-links li:hover {
    padding-bottom: 15px;
    border-bottom: 2px solid var(--main-color);
  }
  /* partie header */
  header {
    margin: 40px 0 30px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    width: 335px;
    height: 52px;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 15px 0;
  }

  header p {
    width: 335px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 25px 0;
  }
  /* partie form */
  .search-bar {
    width: 335px;
    margin: 0 auto 20px;
  }

  .search-bar button {
    width: 49px;
    height: 49px;
    border-radius: 15px;
    gap: 10px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .search-bar button span {
    display: none;
  }

  .search-bar button i {
    display: inline;
    font-size: 18px;
    color: white;
  }
  /* partie filtre */
  .filtres {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 335px;
    padding: 0;
    margin: 0;
    gap: 10px;
  }

  .filtre-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 10px;
  }

  .filtre-buttons button {
    width: 100%;
    max-width: 162.5px;
    height: 50px;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    font-size: 14px;
    gap: 10px;
  }

  .filtre-buttons i {
    color: var(--main-color);
    font-size: 17px;
    margin: 0;
  }
  /* partie info-line */
  .info-line {
    margin-top: 30px;
    display: flex;
  }

  .info-line p {
    font-size: 16px;
    gap: 10px;
    width: 335px;
    height: 38px;
    margin: 0;
  }

  .info-line i {
    font-size: 10px;
    width: 24px;
    height: 24px;
    border-width: 1px;
    flex-shrink: 0;
  }
  /* section heb */
  .hebergements {
    width: 100%;
    max-width: 375px;
    flex-direction: column;
    flex: 1;
    background-color: var(--white);
    order: 2;
    padding: 20px;
    gap: 15px;
  }

  .heb-liste {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heb-card {
    width: 335px;
    margin: 0 auto;
  }

  /* section act */
  .populaires {
    width: 100%;
    max-width: 375px;
    flex: 1;
    order: 1;
    border-radius: 0px;
    gap: 15px;
    padding: 30px 20px;
  }

  .pop-liste {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pop-card {
    width: 335px;
  }

  .pop-card img {
    width: 111.67px;
  }
  /* section act */
  .activités {
    width: 100%;
    max-width: 375px;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    gap: 30px;
    margin: 0;
  }

  .activités h2 {
    padding-left: 0;
    margin-bottom: 25px;
  }

  .act-liste {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 15px;
  }

  .act-card {
    height: 200px;
  }
  .act-card img {
    height: 141px;
  }
  /* section footer */
  footer {
    width: 375px;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
  }

  .foot-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;
  }

  footer h2 {
    margin: 0;
  }

  .f-c-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
}
